<div class="table-container">
    <div fxLayout="column">
        <div>
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
          </mat-form-field>
        </div>
        <div>
          <h1 class="tab-name">Produits</h1>
        </div>
        <div>
            <button (click)="goBackToSupplier()" mat-raised-button color="primary">Fournisseur</button>
        </div>
    </div>
    <br>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
  
    <mat-table class="filtreTableProduit" #table [dataSource]="dataSourceProduct" matSort>
  
      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let Product"> {{Product.productName}} </mat-cell>
      </ng-container>
  
      <!--Code Column -->
      <ng-container matColumnDef="productCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true">Code</mat-header-cell>
        <mat-cell *matCellDef="let Product" fxHide.xs="true"> {{Product.productCode}} </mat-cell>
      </ng-container>
  
      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true">Modèle</mat-header-cell>
        <mat-cell *matCellDef="let Product" fxHide.xs="true"> {{Product.model}} </mat-cell>
      </ng-container>
  
      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true">Taille</mat-header-cell>
        <mat-cell *matCellDef="let Product" fxHide.xs="true"> {{Product.size}} </mat-cell>
      </ng-container>
  
      <!-- SizeDescription Column -->
      <ng-container matColumnDef="sizeDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true">Description</mat-header-cell>
        <mat-cell *matCellDef="let Product" fxHide.xs="true"> {{Product.sizeDescription}} </mat-cell>
      </ng-container>
  
      <!-- Disabled Column -->
      <ng-container matColumnDef="disabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Disponible</mat-header-cell>
        <mat-cell *matCellDef="let Product">
          <mat-checkbox disabled="disabled" [(ngModel)]="!Product.disabled"></mat-checkbox>
        </mat-cell>
      </ng-container>
  
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true">Catégorie</mat-header-cell>
        <mat-cell *matCellDef="let Product" fxHide.xs="true"> {{Product.category.nameCategory}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" 
      [ngClass]="{'highlight': selectedRowIndex == row.id}" 
      (mouseover)="highlight(row)"
      (click)="goToDetail(row)"></mat-row>
    </mat-table>
  </div>
  
