<div class="page-content">
  <div fxLayout="column">
    <div>
      <h1 class="tab-name">Commandes de l'agent</h1>
    </div>
    <div>
      <button (click)="backTohome()" mat-raised-button color="primary">Accueil</button>
      <button (click)="backToEmployee()" mat-raised-button color="primary">Retour</button>
    </div>
    <br>
  </div>

  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
  </mat-paginator>

  <mat-table class="filtreTableOrder" #table [dataSource]="dataSourceOrder" matSort *ngIf='dataSourceOrder'>

    <!-- Creation Date Column -->
    <ng-container matColumnDef="createdOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</mat-header-cell>
      <mat-cell *matCellDef="let Order"> {{Order.createdAt}} </mat-cell>
    </ng-container>

    <!-- Shipped Date Column -->
    <ng-container matColumnDef="shipped">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date de mise à jour</mat-header-cell>
      <mat-cell *matCellDef="let Order"> {{Order.updatedAt}} </mat-cell>
    </ng-container>

    <!--Total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
      <mat-cell *matCellDef="let Order"> {{Order.total}} </mat-cell>
    </ng-container>

    <!--Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let Order"> {{Order.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (mouseover)="highlight(row)"
      (click)="viewItem(row)"></mat-row>
  </mat-table>
  <div *ngIf='!dataSourceOrder' fxLayoutAlign='center' class='spinner'>
    <mat-spinner></mat-spinner>
  </div>


</div>
