<div class="nav-content">
    <button (click)="goHome()" mat-raised-button color="primary">Accueil</button>
    <button (click)="goBackToList()" mat-raised-button color="primary">Retour</button>
</div>
<br>
<div class="container" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10px">
  <div fxFlex="50%" class="employee-content" *ngIf="employee$ | async as employee">
    <!-- Détails de l'employée -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Détails de l'agent : </h2>
          <h4>{{employee.firstName}} {{employee.lastName}}</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #EmployeeForm="ngForm" (ngSubmit)="edit(employee)">
          <mat-form-field fxFill>
            <input matInput [readonly]="!edition" placeholder="Nom" name="EmployeeName" [(ngModel)]="employee.firstName">
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <input matInput [readonly]="!edition" placeholder="Prenom" name="lastName" [(ngModel)]="employee.lastName">
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <input matInput [readonly]="!edition" placeholder="Email" name="email" [(ngModel)]="employee.email">
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <input matInput [readonly]="!edition" placeholder="Phone" name="phone" [(ngModel)]="employee.phone">
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <input matInput [readonly]="!edition" placeholder="IdRh" name="idRh" [(ngModel)]="employee.idRh">
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <mat-select [disabled]="!edition" placeholder=" Fonction : " name="jobTitle" [(ngModel)]="employee.jobTitle">
              <mat-option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.value">
                {{ jobTitle.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <mat-select [disabled]="!edition" placeholder=" Genre : " name="gender" [(ngModel)]="employee.gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field fxFill>
            <mat-select [disabled]="!edition" placeholder=" Grade : " name="grade" [(ngModel)]="employee.grade">
              <mat-option *ngFor="let grade of grades" [value]="grade.value">
                {{ grade.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" *ngIf="edition" mat-raised-button 
          color="primary" [disabled]="!EmployeeForm.valid">Modifier</button>
        </form>
        <br>
        <button class="formButton" *ngIf="!edition" (click)="editMode()" mat-raised-button color="primary">Edition</button>
        <button class="formButton" *ngIf="edition" (click)="viewMode()" mat-raised-button color="primary">Lecture seule</button>
        <button class="formButton" (click)="viewOrders(employee.id)" mat-raised-button color="primary">Commandes</button>
        <button class="formButton" (click)="delete()" mat-raised-button color="primary">Supprimer</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="10px" fxFlex="50%" class="employee-content">
    <div *ngIf="manager$ | async as manager">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Manager de l'agent : </h2>
            <h4>{{manager.firstName}} {{manager.lastName}}</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #ManagerForm="ngForm">
            <mat-form-field fxFill>
              <input [readonly]="true" matInput placeholder="Nom" name="manager.firstName" [(ngModel)]="manager.firstName">
            </mat-form-field>
            <br>
            <mat-form-field fxFill>
              <input [readonly]="true" matInput placeholder="Prenom" name="manager.lastName" [(ngModel)]="manager.lastName">
            </mat-form-field>
            <br>
            <mat-form-field fxFill>
              <input [readonly]="true" matInput placeholder="IdRh" name="manager.idRh" [(ngModel)]="manager.idRh">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="posting$ | async as posting">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Affectation de l'agent : </h2>
            <h4>{{posting.postingName}}</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #PostingForm="ngForm">
            <mat-form-field fxFill>
              <input [readonly]="true" matInput placeholder="Ville" name="city" [(ngModel)]="posting.address.city">
            </mat-form-field>
            <br>
            <mat-form-field fxFill>
              <input [readonly]="true" matInput placeholder="Code postal" name="zipCode" [(ngModel)]="posting.address.zipCode">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
