
.page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /*justify-content: space-around;*/
}
.employee-content {
  padding: 10px;
  margin: 0 auto;
}

/* Small screens */
/* On small screens, we are no longer using row direction but column */
/*
@media all and (max-width: 760px) {
  .page-content {
    
    display: -webkit-flex;
    flex-direction: column;
  }
}
*/

.nav-content {
  padding: 10px;
}
