<div class="page-container" fxLayoutAlign="space-between"  style="overflow-x:auto;">
  
  <div class="tab-name">
    <h1>Mon Panier</h1>
  </div>
  <br>
  <div>
    <button (click)="backToProducts()" mat-raised-button color="primary">Produits</button>
    <button (click)="checkoutCart()" mat-raised-button color="primary" *ngIf="!cartEmpty">Commander</button>
    
  </div>
  <br>

  <table id="cartTable" *ngIf="!cartEmpty">
    
      <th>Nom</th>
      <th>Model</th>
      <th>Code</th>
      <th>Taille</th>
      <th>Taille Desc.</th>
      <th>Fournisseurs</th>
      <th>Actions</th>

      <tr *ngFor="let item of items">
        <td>{{item.product.productName}}</td>
        <td>{{item.product.model}}</td>
        <td>{{item.product.productCode}}</td>
        <td>{{item.product.size}}</td>
        <td>{{item.product.sizeDescription}}</td>
        <td>{{item.product.supplier.supplierName}}</td>
        <td>
          <button mat-button (click)="deleteItem(item)"><mat-icon>remove_shopping_cart</mat-icon></button>
          <!--
          <button (click)="quantityPlus(item, items.indexOf(item))"> + </button> {{ item.quantity }}
          <button *ngIf="item.quantity > 1" (click)="quantityMinus(item, items.indexOf(item))"> - </button>
          -->
        </td>
      </tr>
  </table>
  <div *ngIf="cartEmpty"><p class="mess-cart">Panier vide !</p></div>
</div>
