.page-container {
    height: 100%;
    padding: 5px;
}


.mess-cart {
    color: blue;
    font: 1.5em Verdana;
}

table, td, th {
    border: 2px teal solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    background-color: rgb(48, 193, 193);
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

tr {
    background-color: white;
    text-align: center;
}
tr:nth-child(even){background-color: #f2f2f2}