<div class="filtreTableProduit" fxLayoutAlign="space-between">
  <div>
    <h1 class="tab-name">Produits Commandés</h1>
  </div>
</div>
<table id="cartTable">
  <thead>
    <th>Nom</th>
    <th>Model</th>
    <th>Code</th>
    <th>Taille</th>
    <th>Taille Desc.</th>
    <th>Fournisseurs</th>
    
    <tr *ngFor="let item of cart">
      <td>{{item.productName}}</td>
      <td>{{item.model}}</td>
      <td>{{item.productCode}}</td>
      <td>{{item.size}}</td>
      <td>{{item.sizeDescription}}</td>
      <td>{{item.supplier.supplierName}}</td>
      
    </tr>
  </thead>
  <tbody></tbody>
</table>

