<div class="filtreTableProduit" fxLayoutAlign="space-between">
  
  <div>
    <h1 class="tab-name">Panier :</h1>
  </div>
  <div>
    <button (click)="backToProducts()" mat-raised-button color="primary">Produits</button>
  </div>

  <table id="cartTable">
    <thead>
      <th>Nom</th>
      <th>Model</th>
      <th>Code</th>
      <th>Taille</th>
      <th>Taille Desc.</th>
      <th>Fournisseurs</th>
      <th>Actions</th>

      <tr *ngFor="let item of items">
        <td>{{item.product.productName}}</td>
        <td>{{item.product.model}}</td>
        <td>{{item.product.productCode}}</td>
        <td>{{item.product.size}}</td>
        <td>{{item.product.sizeDescription}}</td>
        <td>{{item.product.supplier.supplierName}}</td>
        <td>
          <button mat-button (click)="deleteItem(item)"><mat-icon>remove_shopping_cart</mat-icon></button>
          <!--
          <button (click)="quantityPlus(item, items.indexOf(item))"> + </button> {{ item.quantity }}
          <button *ngIf="item.quantity > 1" (click)="quantityMinus(item, items.indexOf(item))"> - </button>
          -->
        </td>

      </tr>
    </thead>
    <tbody>
      <button (click)="checkoutCart()" mat-raised-button color="primary">Commander</button>
    </tbody>
  </table>
</div>
