<div class="filtreTableUser" fxLayoutAlign="space-between" *ngIf="!creation">
  <div>
    <mat-icon>search</mat-icon>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
    </mat-form-field>
  </div>
  <div>
    <h1 class="tab-name">Utilisateurs</h1>
  </div>
  <div>
    <button (click)="backTohome()" mat-raised-button color="primary">Accueil</button>
    <button (click)="create()" mat-raised-button color="primary">Créer</button>
  </div>
</div>
<!-- Formulaire de création d'un utilisateur -->
<div class="creation-form" *ngIf="creation">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Formulaire de création :</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="createUser()" [formGroup]="formUser">
        <mat-form-field class="inputFullWidth">
          <input matInput formControlName="userName" required placeholder="Nom" name="userName">
        </mat-form-field>
        <br>
        <mat-form-field class="inputFullWidth">
          <input matInput formControlName="email" required placeholder="Email" name="email">
        </mat-form-field>
        <br>
        <mat-form-field class="inputFullWidth">
          <input matInput formControlName="password" required placeholder="Password" name="password">
        </mat-form-field>
        <br>
        <mat-form-field class="inputFullWidth">
          <mat-select formControlName="role" required placeholder=" Rôle : " name="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>Actif</p>
        <mat-checkbox formControlName="active" name="active"></mat-checkbox>
        <br>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="!formUser.valid">Valider</button>
        <button (click)="closeForm()" mat-raised-button color="primary">Fermer</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
  *ngIf='!creation '>
</mat-paginator>

<mat-table class="filtreTableUser" #table [dataSource]="dataSourceUser" matSort *ngIf='!creation '>

  <!-- Login Column -->
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Login</mat-header-cell>
    <mat-cell *matCellDef="let User"> {{User.userName}} </mat-cell>
  </ng-container>

  <!--Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let User"> {{User.email}} </mat-cell>
  </ng-container>

  <!-- Active Column -->
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
    <mat-cell *matCellDef="let User">
      <mat-checkbox disabled="disabled" [(ngModel)]="User.active"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
    <mat-cell *matCellDef="let User"> {{User.role.name}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (mouseover)="highlight(row)"
    (click)="goToDetail(row)"></mat-row>
</mat-table>
<div *ngIf='!dataSourceUser' fxLayoutAlign='center' class='spinner'>
  <mat-spinner></mat-spinner>
</div>
<!--
  <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex + 1}}</div>
  </div>-->
