.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .sidenav {
    width: 150px;
  }

  .mat-sidenav-content {
    background-color: lightgrey
  }
  
  .toolbar {
    background-color: teal;
    color:white
  }
  
  