<div class="header" [style.min.%]="100" [style.minHeight.%]="100" fxLayout="column">
  <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-icon-button (click)="snav.toggle()" *ngIf="isLoggedIn$ | async">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button (click)="goHome()" *ngIf="isLoggedIn$ | async">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button (click)="viewCart()" *ngIf="isLoggedIn$ | async">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="mat-sidenav">
      <mat-nav-list>
        <mat-list>
          <mat-list-item routerLinkActive="active" routerLink="" (click)="snav.toggle()">
            <mat-icon>home</mat-icon> Acceuil</mat-list-item>
          <hr style="width:100%">
          <mat-list-item routerLinkActive="active" routerLink="me" (click)="snav.toggle()">
            <mat-icon>account_circle</mat-icon> Mon Compte</mat-list-item>
          <mat-list-item routerLinkActive="active" routerLink="products" (click)="snav.toggle()">
            <mat-icon>view_list</mat-icon> Produits</mat-list-item>
          <mat-list-item routerLinkActive="active" routerLink="suppliers" (click)="snav.toggle()">
            <mat-icon>perm_identity</mat-icon> Fournisseurs</mat-list-item>
          <hr style="width:100%">
          <mat-list-item routerLinkActive="active" routerLink="users" (click)="snav.toggle()">
            <mat-icon>view_list</mat-icon> Utilisateurs</mat-list-item>
          <mat-list-item routerLinkActive="active" routerLink="employees" (click)="snav.toggle()">
            <mat-icon>person</mat-icon> Agents</mat-list-item>
          <mat-list-item routerLinkActive="active" routerLink="postings" (click)="snav.toggle()">
            <mat-icon>business</mat-icon> Affectations</mat-list-item>
          <hr style="width:100%">
          <mat-list-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon> Déconnexion</mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [style.padding.em]="2">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer">
    <p style="font-size: small">© 2018, Sylvain Gérard</p>
  </mat-toolbar>
</div>
