<div fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10px" class="page-content" *ngIf="product$ | async as product">
  <div fxFlex="50%" class="product-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Détails du produit : </h2>
          <h4>{{ product.productName }}</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #productForm="ngForm">

          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Référence" name="productCode" [(ngModel)]="product.productCode">
          </mat-form-field>

          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Nom" name="productName" [(ngModel)]="product.productName">
          </mat-form-field>

          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Modèle" name="model" [(ngModel)]="product.model">
          </mat-form-field>
           
          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Taille" name="size" [(ngModel)]="product.size">
          </mat-form-field>
         
          <mat-form-field class="inputFullWidth">
            <textarea matInput placeholder="Description" matTextareaAutosize name="sizeDescription" [(ngModel)]="product.sizeDescription"></textarea>
          </mat-form-field>

          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Fournisseur" name="supplier" [(ngModel)]="product.supplier.supplierName">
          </mat-form-field>

          <mat-form-field class="inputFullWidth">
            <input matInput placeholder="Disponibilité" name="stock" [(ngModel)]="product.stock.unitInStock">
          </mat-form-field>

          <button (click)="goBackToList()" mat-raised-button color="primary">Retour</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50%" class="product-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/products_img/{{ product.imageUrl }}" alt="Images du Produit {{ product.productName }}">
      <mat-card-content style="text-align: left;">
        <p><u>Description :</u></p>
        <p>{{product.description}}</p>
        <p><u>Catégorie :</u></p>
        <p>{{product.category.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-button (click)="addProduct(product)" *ngIf="!product.added" mat-raised-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>Ajouter</button>
            <!--
          <button mat-button (click)="removeProduct(product)" *ngIf="product.added">
            <mat-icon>remove_shopping_cart</mat-icon>SUPPRIMER</button> -->
        </div> 
      </mat-card-actions>
    </mat-card>
      <div>
         <ul>
           <li *ngFor="let item of products">
             <span>{{item.productName}}</span>
             <span>{{item.model}}</span>
           </li>
         </ul>
      </div>
  </div>
  
</div>


