
<div class="home-content">

     <div class=".bloc-card">
                <a href=""  routerLink='users'><mat-card class="card"><p>Utilisateurs</p></mat-card></a>
                <a href=""  routerLink='products'><mat-card class="card"><p>Produits</p></mat-card></a>
                <a href=""  routerLink=''><mat-card class="card">Fournisseurs</mat-card></a>
      </div>
      <div class=".bloc-card">     
                <a href=""  routerLink=''><mat-card class="card">Employés</mat-card></a>
                <a href=""  routerLink=''><mat-card class="card">Affectations</mat-card></a>
                <a href=""  routerLink=''><mat-card class="card">Commandes</mat-card></a>
      </div>      
</div>
