<div fxLayout="column" fxLayoutGap="5" fxLayoutAlign="center stretch" class="home-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" class="row1">
    <a href="" routerLink='me'>
      <mat-card class="card">
        <p>Mon Compte</p>
      </mat-card>
    </a>
    <a href="" routerLink='products'>
      <mat-card class="card">
        <p>Produits</p>
      </mat-card>
    </a>
    <a href="" routerLink='suppliers'>
      <mat-card class="card">Fournisseurs</mat-card>
    </a>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="row2">
    <a href="" routerLink='users'>
      <mat-card class="card">
        <p>Utilisateurs</p>
      </mat-card>
    </a>
    <a href="" routerLink='employees'>
      <mat-card class="card">Agents</mat-card>
    </a>
    <a href="" routerLink='postings'>
      <mat-card class="card">Affectations</mat-card>
    </a>

  </div>
</div>
