
.card {
    border: 2px white solid;
    border-radius: 10px;
    margin: 30px;
    align-content: center;
    max-width: 400px;
    background-color: teal;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}

